@page
@model StudentRazorPage.Pages.StudentList.CreateModel
@{
}

<div style="border:1px solid #bbb9b9; border-radius:10px;">
    <form method="post">

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.Class" class="control-label"></label>
                <input asp-for="Student.Class" class="form-control" />
                <span asp-validation-for="Student.Class" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.address" class="control-label"></label>
                <input asp-for="Student.address" class="form-control" />
                <span asp-validation-for="Student.address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.PhoneNumber" class="control-label"></label>
                <input asp-for="Student.PhoneNumber" class="form-control" />
                <span asp-validation-for="Student.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                <a asp-page="Index" class="btn btn-success btn-sm">Back to List</a>
            </div>


    </form>

@section Scripts{ 
    @{await Html.RenderPartialAsync("_ValidationScriptsPArtial");}
}