@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome TO Student Razor Page Web Application</h3>
    <a href="https://localhost:5001/studentlist" class="btn btn-primary">Display Student</a>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> !-->
</div>
